services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "1323:1323"
    volumes:
      - ./backend:/app
    environment:
      - CONFIG_PATH=/app/config.toml
    command: go run ./cmd/sabakan

  backend-test:
    build:
      context: ./backend
      dockerfile: Dockerfile
    volumes:
      - ./backend:/app
    command: go test ./... -v
    profiles:
      - test

  frontend:
    image: oven/bun:latest
    working_dir: /app
    volumes:
      - ./frontend:/app
    command: bun run start --host 0.0.0.0
    ports:
      - "4200:4200"
    depends_on:
      - backend

